 *{
     padding: 0;
     margin: 0;
 }


 .menu_top {
     width: 100vw;
     height: 10vh;
     background: #fff;
     position: fixed;
     z-index: 4;
     line-height: 10vh;
     box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
 }
 .menu_top > label {
    font-family: helvica;
    font-weight: 300;
    color: #333;
 }


  /** 
      FONTS GOOGLE FONTS :
      ANTON | font-family: 'Anton', sans-serif;
  **/
   
  input:focus {
      outline: none;
  }
  button:focus { outline: none; }



@media (max-width: 768px){
    .menu_top > div {
        width: 80%;
        height: 10vh;
        position: fixed;
        top: 0;
        right: -60%;
        background: #fff;
    }
    .menu_top > div > button {
        float: left;
        font-size: 20px;
        background: none;
        border: none;
        color: #333;
        line-height: 10vh;
        margin-left: 9%;
    }
    .menu_top > div > input {
        margin-left: 10%;
        height: 3vh;
        width: 63%;
    }
    .menu_top > label {
        margin-left: 5%;
    }
    
    


    .container {
        position: relative;
        width: 100vw;
        height: 300vh;
        z-index: 2;
        padding-top: 20vh;
    }

    .footer {
        width: 100vw;
        height: 20vh;
        background: #333;
        
    }
}



@media (min-width: 768px){
    .menu_top > button {
      display: none;
    }
    .menu_top > label {
        margin-left: 5%;
    }
}












