 *{
     padding: 0;
     margin: 0;
 }


 .menu_top {
     width: 100vw;
     height: 10vh;
     background: #333;
     position: fixed;
     z-index: 3;
     line-height: 10vh;
    }
 .menu_top > label {
    font-family: arial;
    font-weight: 300;
    color: #fff;
 }


  /** 
      FONTS GOOGLE FONTS :
      ANTON | font-family: 'Anton', sans-serif;
  **/
   
  input:focus {
      outline: none;
  }
  button:focus { outline: none; }



@media (max-width: 768px){
    .menu_top > button {
        float: right;
        font-size: 25px;
        background: none;
        border: none;
        color: #fff;
        line-height: 10vh;
        margin-right: 5%;
    }
    .menu_top > label {
        margin-left: 5%;
    }
    .menu_style > svg {
        height: 25vh;
        position: fixed;
        z-index: 1;
        margin-top: 10vh;
    }
   

    .container {
        position: relative;
        width: 100vw;
        height: 300vh;
        z-index: 2;
        padding-top: 20vh;
    }

    .footer {
        width: 100vw;
        height: 20vh;
        background: #333;
        
    }
}
